.textfield {
  position: relative;
  font-size: $input-text-font-size;
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: $input-text-vertical-spacing 0;
}
.textfield__input {
  border: none;
  border-bottom: 1px solid $input-text-bottom-border-color;
  display: block;
  font-size: $input-text-font-size;
  font-family: $performance_font;
  margin: 0;
  padding: $input-text-padding 0;
  width: $input-text-width;
  background: none;
  text-align: left;
  color: inherit;
  background-color: rgba(255,255,255,.8);
  webkit-appearance: caret;
  -moz-appearance: caret; /* mobile firefox too! */

  &[type="number"] {
    -moz-appearance: textfield;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  & ~ .error__text{
    color: $input-text-error-color;
    position: absolute;
    font-size : $input-text-floating-label-fontsize;
    padding-top: 4px;
    display: none;
  }

  &:focus{
  	outline: none;
  	& + label{
	    color: $input-text-highlight-color;
	    font-size : $input-text-floating-label-fontsize;
	    top: $input-text-vertical-spacing - ($input-text-floating-label-fontsize + $input-text-padding);
	    visibility: visible;
  		&::after{
        content: '';
  			left: 0;
    		visibility: visible;
    		width: 100%;
    	}
  	}
  }
  &.no_empty{
    @extend :focus;
    & + label{
      color: $input-text-label-color;
      &::after{
        left: 45%;
        width: 0;
        visibility: hidden;
      }
    }
  }
  &.error{
    @extend :focus;
    & + label{
      color: $input-text-error-color;
      &::after{
        background-color: $input-text-error-color;
      }
    }
    & ~ .error__text{
      display: block;
    }
  }
}

.textfield__label {
  bottom: 0;
  color: $input-text-label-color;
  font-size: $input-text-font-size;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  display: block;
  top: ($input-text-padding + $input-text-vertical-spacing);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .textfield.is-dirty &,
  .textfield.has-placeholder & {
    visibility: hidden;
  }

  &:after {
    content: '';
    background-color: $input-text-highlight-color;
    bottom: $input-text-vertical-spacing;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    @include material-animation-default();
    visibility: hidden;
    width: 10px;
  }
}