.radio {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: px2rem($radio-label-height);
  margin: 0;
  padding: 0 0 0 px2rem($checkbox-padding);
  .radio__button{
    &::before{
      content: '';
      background-color: $checkbox-color;
      position: absolute;
      top: px2rem(($radio-label-height - $radio-button-size) / 2);
      left: px2rem($checkbox-padding);
      box-sizing: border-box;
      width: px2rem($radio-button-size);
      height: px2rem($radio-button-size);
      border-radius: 50%;
      border: 4px solid #fff;
      display: block;
      transform:  scale(0,0);
      transition: transform .3s cubic-bezier(0,0,.2,1),
                  width .3s cubic-bezier(0,0,.2,1),
                  height .3s cubic-bezier(0,0,.2,1),
                  opacity .6s cubic-bezier(0,0,.2,1),
                  -webkit-transform .3s cubic-bezier(0,0,.2,1);
    }
     &::after{
        content: '';
        border:  px2rem(2px) solid $radio-off-color;   
        position: absolute;
        top: px2rem(($radio-label-height - $radio-button-size) / 2);
        left: px2rem($checkbox-padding);
        display: inline-block;
        box-sizing: border-box;
        width: px2rem($radio-button-size);
        height: px2rem($radio-button-size);
        border-radius: 50%;
     }
     &:checked{
       background-color: rgba(0,0,0,0);
       &::before{
          transform:  scale(1,1);
       }
       &::after{
          border: px2rem(2px) solid $radio-color;
       }
     }
  }
  .radio__label{
      display: inline-block;
      height: px2rem($radio-label-height);
      line-height: px2rem($radio-label-height);
      font-size: px2rem($radio-label-font-size);
      vertical-align: top;
      padding-left: px2rem($checkbox-padding);
  }
}

